<!-- views/rooms.ejs -->

<!DOCTYPE html>
<html lang="en">
<head><% include ./partials/head %></head>
<body class="container">
  <header><% include ./partials/header %></header>
  <main>
    <h1><%= title %></h1>
    <div class="row">
      <h2>都道府県から検索</h2>
      <% for (let i = 0; i < prefecture_list.length; i++) { %>
        <div class="col-md-2 col-sm-2 col-xs-4">
          <% const pref = prefecture_list[i] %>
          <p>
            <a href="/prefecture/<%= pref %>"><%=pref%></a>
          </p>
        </div>
      <% } %>
      </div>
    </div>
    <div>
      <h2>キーワードから検索</h2>

    </div>
    </main>
    <footer><% include ./partials/footer %></footer>
</body>
</html>
